body {
  background-color: #f0f2f5;
  width: 100%;
  padding: 0;
  margin: 0;
  /* overflow-y: scroll; */
  --settings-left-padding: 12px;
}

.layout-header {
  position: fixed;
  top: 0px;
  text-align: center;
  width: 100%;
  background-color: white;
  box-shadow:rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  z-index: 1;
}

.layout-body {
  text-align: center;
  width: 600px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 20px;
}

.settings {
  text-align: left;
  font-size: 1.5em;
  border-radius: 4px;
  background-color: #ffffff;
}

.settings-item-title {
  font-size: 1.5em;
  padding: 8px 0px 8px var(--settings-left-padding);
}

.settings-item-content {
  padding-left: calc(2 * var(--settings-left-padding));
  padding-bottom: 8px;
}

.restaurant {
  padding-bottom: 4px;
}

hr.settings-separator {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin-left: 1em;
  margin-right: 1em;
  padding: 0;
}

.active-day {
  padding-bottom: 4px;
}

div.time-validity {
  display: inline;
}

img.time-validity-icon {
  position: relative;
  height: 1em;
  width: 1em;
  top: 0.2em;
}

img.check-mark {
  content:url('resources/icons/check_mark.svg');
}

img.x-mark {
  content:url('resources/icons/x_mark.svg');
}
